.main {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 8px;
  margin-block: 30px;
}

.input {
  display: block;
  border-radius: 3px;
  padding-block: 5px;
  margin-block: 15px;

}

.divider {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.hCustom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .hCustom {
    height: 100%;
  }
}


.mesa {
  transition: transform 0.3s; 
}

.mesa:hover {
  transform: scale(1.05);
}
